<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello its me milan </h1>
    <!-- it add 1 +1 -->
    <h1><%- 1+1 %> </h1>

    <!-- this is used to pass the prop
    <h1><%- name %> </h1>
    <h1><%- age %> </h1> -->
</body>
</html>

